<%- include("header") -%>

<div class="row">
    <div class="col-lg-3 col-sm-1">
        <p> </p>
    </div>
    <div class="col-lg-6 col-sm-10 text-center mcm-form">
        <h1 class="page-title"> <%= recipe.name %> </h1>

        <div class="ingredientsAndInstructions text-left">

            <h3 class="recipeSection">Ingredients:</h3>
            <% recipe.ingredients.forEach(function(selectedIngredient){ %>
            <P><%= selectedIngredient %></P>
            <% }) %>

            <h3 class="recipeSection">Instructions:</h3>
            <% recipe.instructions.forEach(function(instruciton){%>
            <p> <%= instruciton %> </p>
            <% }) %>
            <% if (recipe.url.length > 0 ){ %>
                <h3 class="recipeSection">Link:</h3>
                <a href="<%= recipe.url %>" target="_blank"><%= recipe.url %></a>
            <% } %>

            <h3 class="recipeSection">Recipe Entered By:</h3>
            <p><%= recipe.author %></p>
        </div>

        <form action="/edit_recipe" method="post">
            <div class="form-group">
                <button type="submit" value="<%= recipe._id %>" name="editButton" class="btn btn-outline-secondary">Edit Recipe</button>
            </div>
        </form>

    </div>

    <div class="col-lg-3 col-sm-1 text-center">
    </div>
</div>

<%- include("footer") -%>
